.product-list {
  flex-grow: 1;
  padding: 15px;
}

.product-list div {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;

  button {
    border-radius: 5px;
    padding: 6px;
    background-color: #d3eae2;
    color: #000;
    border: none;
  }
}
